{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Сделки</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_dashboard_index') }}">Главная панель</a>
                            </li>
                            <li class="breadcrumb-item active">Сделки</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Список</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Счет</th>
                                            <th>Акция</th>
                                            <th>Тип</th>
                                            <th>Цена</th>
                                            <th>Лот</th>
                                            <th>Время совершения сделки</th>
                                            <th>Время импорта сделки</th>
                                            <th style="width: 50px"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for deal in deals %}
                                            {% set softDeleted = '' %}
                                            {% if deal.softDeleted %}
                                                {% set softDeleted = 'bgcolor=#d3d3d3' %}
                                            {% endif %}

                                            <tr {{ softDeleted }}>
                                                <td>{{ deal.id }}</td>
                                                <td>{{ deal.accaunt.title }}</td>
                                                <td>{{ deal.stockSecId }}</td>
                                                <td>{{ deal.type|tradeType }}</td>
                                                <td>{{ deal.price }}</td>
                                                <td>{{ deal.lots }}</td>
                                                <td>{{ deal.dateTime|date('Y-m-d H:m:s') }}</td>
                                                <td>{{ deal.created|date('Y-m-d H:m:s') }}</td>
                                                <td>
                                                    {% if not deal.softDeleted %}
                                                        <div class="btn-group">
                                                            <a href="{{ path('app_deal_create_trade', {id: deal.id}) }}" type="button" class="btn btn-primary">
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                            <a href="{{ path('app_deal_close_trade', {id: deal.id}) }}" type="button" class="btn btn-success">
                                                                <i class="fa fa-window-close"></i>
                                                            </a>
{#                                                        <a href="/" type="button" class="btn btn-info">#}
{#                                                            <i class="fa fa-plus"></i>#}
{#                                                        </a>#}
{#                                                        <a href="/" type="button" class="btn btn-danger">#}
{#                                                            <i class="fa fa-trash-alt"></i>#}
{#                                                        </a>#}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </div>
{% endblock %}
