{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Добавить значение к счету: {{ accaunt.title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_dashboard_index') }}">Главная панель</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_accaunts_index') }}">Счета</a>
                            </li>
                            <li class="breadcrumb-item active">Добавить значение</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Форма</h3>
                            </div>
                            <form action="{{ path('app_accaunt_history_add', {id: accaunt.id}) }}" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="value">Новое значение</label>
                                        <input type="number" class="form-control" id="value" name="value" placeholder="">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{{ asset('vendor/js/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/js/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('vendor/js/sparklines/sparkline.js') }}"></script>
    <script src="{{ asset('vendor/jqvmap/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset('vendor/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
    <script src="{{ asset('vendor/js/jquery-knob/jquery.knob.min.js') }}"></script>
    <script src="{{ asset('vendor/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('vendor/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ asset('vendor/summernote/summernote-bs4.min.js') }}"></script>
    <script src="{{ asset('vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <script src="{{ asset('vendor/js/adminlte.js') }}"></script>
    <script src="{{ asset('vendor/js/demo.js') }}"></script>
{% endblock %}
