<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="{{ path('app_dashboard_index') }}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Дашборд</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
                Позиции
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{ path('app_trade_list') }}" class="nav-link">
                    <i class="fa fa-circle-notch nav-icon"></i>
                    <p>Все</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_trade_active_group_by_strategies_list') }}" class="nav-link">
                    <i class="fa fa-circle-notch nav-icon"></i>
                    <p>Активные</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_statistics_strategies_list') }}" class="nav-link">
            <i class="nav-icon fas fa-flask"></i>
            <p>Статистика</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_strategies_index') }}" class="nav-link">
            <i class="nav-icon fas fa-chess"></i>
            <p>Стратегии</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_accaunts_index') }}" class="nav-link">
            <i class="nav-icon fas fa-sticky-note"></i>
            <p>Счета</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_risk_profile_index') }}" class="nav-link">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>Риск профиль</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_calculate_accaunt_index') }}" class="nav-link">
            <i class="nav-icon fas fa-calculator"></i>
            <p>Калькулятор</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
                Сравочники
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{ path('app_dictionary_stock_index') }}" class="nav-link">
                    <i class="fa fa-circle-notch nav-icon"></i>
                    <p>Акции</p>
                </a>
            </li>
        </ul>
    </li>
</ul>
