<ul class="navbar-nav ml-auto">
    <li id="notification" class="nav-item dropdown" data-url="{{ path('notification_widget_viewed') }}">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            {% if countNewNotifications != 0 %}
                <span class="badge badge-warning navbar-badge">{{ countNewNotifications }}</span>
            {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">{{ countNotifications }} нотификаций</span>
            <div class="dropdown-divider"></div>

            {% for index,notification in notifications %}
                <div class="dropdown-item">
                    <p>
                        <b>{{ notification.title }}</b>
                        <span class="float-right text-muted text-sm">{{ notification.created|date('Y-m-d H:i') }}</span>
                    </p>
                    <p>{{ notification.text }}</p>
                </div>
                <div class="dropdown-divider"></div>
            {% endfor %}
        </div>
    </li>
</ul>
