{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Статистика по стратегиям</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_dashboard_index') }}">Главная панель</a>
                            </li>
                            <li class="breadcrumb-item active">Статистика по стратегиям</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Список</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Стратегия</th>
                                        <th>Счет</th>
                                        <th style="width: 50px">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,strategiesByAccaunt in strategiesByAccaunts %}
                                        <tr>
                                            <td>{{ key + 1 }}</td>
                                            <td>{{ strategiesByAccaunt.strategyTitle }}</td>
                                            <td>{{ strategiesByAccaunt.accauntTitle }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{ path('app_statistics_strategy_accaunt', {strategyId: strategiesByAccaunt.strategyId, accauntId: strategiesByAccaunt.accauntId}) }}" type="button" class="btn btn-success">
                                                        <i class="fa fa-list"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
