<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Торговая платформа | Ввод данных</title>

    <link rel="stylesheet" href="{{ asset('vendor/css/font.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/css/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/css/adminlte.min.css') }}">
</head>
<body class="hold-transition lockscreen">
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <a href="/"><b>Торговая</b> платформа</a>
    </div>
    <div class="lockscreen-name">pers1307</div>

    <div class="lockscreen-item">
        <div class="lockscreen-image">
            <img src="{{ asset('images/user_avatar.jpg') }}" alt="User Image">
        </div>

        <form class="lockscreen-credentials">
            <div class="input-group">
                <input type="password" class="form-control" placeholder="пароль">

                <div class="input-group-append">
                    <button type="button" class="btn">
                        <i class="fas fa-arrow-right text-muted"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="help-block text-center">
        Введите свой пароль для входа в систему
    </div>
    <div class="lockscreen-footer text-center">
        Copyright &copy; 2024-2024<br>
        Все права защищены
    </div>
</div>
<script src="{{ asset('vendor/js/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/js/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
