{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">История счета: {{ accaunt.title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_dashboard_index') }}">Главная панель</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_accaunts_index') }}">Счета</a>
                            </li>
                            <li class="breadcrumb-item active">История</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                {% if accauntHistoryItems is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">График</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card bg-gradient-info">
                                        <div class="card-body">
                                            <canvas
                                                    class="chart"
                                                    id="line-chart"
                                                    style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"
                                                    data-graph-data-encode="{{ graphDataEncode }}"
                                                    data-accaunt-name="{{ accaunt.title }}"
                                            ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Список</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Название счета</th>
                                            <th>Значение</th>
                                            <th>Дата</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for index,accauntHistoryItem in accauntHistoryItems %}
                                            <tr>
                                                <td>{{ accauntHistoryItem.id }}.</td>
                                                <td>{{ accaunt.title }}</td>
                                                <td>{{ accauntHistoryItem.balance|number_format(null, null, ' ') }}</td>
                                                <td>{{ accauntHistoryItem.created|date('Y-m-d H:i:s') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Список</h3>
                                </div>
                                <div class="card-body">
                                    Здесь ещё нет значений.
                                    <a href="{{ path('app_accaunt_history_add_form', {id: accaunt.id}) }}">Добавить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('vendor/js/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('vendor/js/accaunt_history.js') }}"></script>
{% endblock %}
