{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Калькулятор</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_dashboard_index') }}">Главная панель</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_calculate_accaunt_index') }}">Выбор счета</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_calculate_strategy') }}">Выбор стратегии</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_calculate_stock') }}">Выбор акции</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_calculate_parameters') }}">Выбор параметров</a>
                            </li>
                            <li class="breadcrumb-item active">Результат</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link disabled" id="custom-tabs-four-home-tab" data-toggle="pill" href="" role="tab" aria-controls="" aria-selected="true">Счет</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" id="custom-tabs-four-profile-tab" data-toggle="pill" href="" role="tab" aria-controls="custom-tabs-four-home" aria-selected="false">Стратегия</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" id="custom-tabs-four-messages-tab" data-toggle="pill" href="" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Акция</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" id="custom-tabs-four-settings-tab" data-toggle="pill" href="" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Параметры</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#result-tab" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Результат</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <div
                                            class="tab-pane fade show active"
                                            id="result-tab"
                                            role="tabpanel"
                                            aria-labelledby="custom-tabs-four-home-tab"
                                    >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Риск профиль</label>
                                                    {% if riskProfile.type|isDepositType %}
                                                        <p>Позиция это {{ riskProfile.persent }}% от
                                                            депозита {{ riskProfile.balance|number_format(2, '.', ' ') }}</p>
                                                    {% else %}
                                                        <p>Риск {{ riskProfile.persent }}% на сделку от
                                                            депозита {{ riskProfile.balance|number_format(2, '.', ' ') }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    <label>Акция</label>
                                                    <p>{{ stock.secId }} с текущей ценой {{ stock.price }}</p>
                                                </div>
                                                {% if not riskProfile.type|isDepositType %}
                                                    <div class="form-group">
                                                        <label>Параметры</label>
                                                        <p>
                                                            Значение стоп-лосс: {{ trade.stopLoss }}<br>
                                                            {% if trade.takeProfit %}
                                                                Значение тейк-профит: {{ trade.takeProfit }}<br>
                                                                P/L: {{ profitLoss }}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label>Количество лотов</label>
                                                    {% if riskProfile.type|isDepositType %}
                                                        <p>Количество лотов {{ lots }}, что составляет {{ persent }}% от
                                                            депозита</p>
                                                    {% else %}
                                                        <p>Количество лотов {{ lots }}, что составляет {{ persent }}%
                                                            риска на позицию</p>
                                                    {% endif %}
                                                </div>
                                                <form method="post" action="{{ path('app_calculate_create_trade') }}">
                                                    <a href="{{ path('app_calculate_parameters') }}" class="btn btn-secondary">Назад</a>
                                                    <a href="{{ path('app_calculate_accaunt_index') }}" class="btn btn-info">В
                                                        начало</a>
                                                    <button type="submit" class="btn btn-primary">Создать позицию
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
