{% extends 'base.admin.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Главная панель</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">Главная панель</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ statistic.timeStatistic.totalTimeIntervalInSecond|toDays }} дней</h3>
                                <p>Уже торгуем</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-forward"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ statistic.countStatistic.countTrades }}</h3>
                                <p>Совершенных сделок</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% set count = 1 %}
                    {% for index,accauntDataForGraph in accauntsDataForGraph %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Счет: {{ index }}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card bg-gradient-info">
                                        <div class="card-body">
                                            <canvas
                                                    class="chart"
                                                    id="line-chart-accaunt-{{ count }}"
                                                    style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"
                                                    data-graph-data-encode="{{ accauntDataForGraph }}"
                                                    data-accaunt-name="{{ index }}"
                                            ></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('vendor/js/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('vendor/js/dasboard_index.js') }}"></script>
{% endblock %}
